---
Checks: >
  clang-analyzer-*,
  bugprone-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  cppcoreguidelines-*,
  misc-*,
  llvm-*,
  -clang-analyzer-alpha.*,
  -clang-analyzer-security.FloatLoopCounter,
  -google-*,
  -hicpp-*,
  -fuchsia-*,
  -android-*,
  -cert-*,
  -altera-*,
  -zircon-*,
  -objc-*,
  -readability-magic-numbers

WarningsAsErrors: ""

HeaderFilterRegex: ".*"

