---
Checks: >
  clang-analyzer-*,
  bugprone-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  cppcoreguidelines-*,
  misc-*,
  llvm-*,
  -clang-analyzer-alpha.*,
  -clang-analyzer-security.FloatLoopCounter,
  -google-*,
  -hicpp-*,
  -fuchsia-*,
  -android-*,
  -cert-*,
  -altera-*,
  -zircon-*,
  -objc-*,
  -readability-magic-numbers

WarningsAsErrors: ""

HeaderFilterRegex: ".*"

AnalyzeTemporaryDtors: false

FormatStyle: llvm

CheckOptions:
  - key: modernize-use-nullptr.NullMacros
    value: "NULL"
  - key: readability-identifier-naming.VariableCase
    value: lower_case
  - key: readability-identifier-naming.ClassCase
    value: CamelCase
  - key: readability-identifier-naming.FunctionCase
    value: camelBack
  - key: readability-identifier-naming.PrivateMemberSuffix
    value: _
  - key: readability-identifier-naming.IgnoreMainLikeFunctions
    value: "true"
  - key: modernize-loop-convert.MaxCopySize
    value: "16"
  - key: cppcoreguidelines-pro-type-member-init.HabilitateAnnotations
    value: "true"
  - key: cppcoreguidelines-avoid-magic-numbers.IgnoreEnums
    value: "true"
